:root{
    --bgcolor: #F7CEE2;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    margin: 0;
    min-height: 100vh;
    
    background-color: var(--bgcolor);
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

header{
    font-family: "Caveat", cursive;
    font-size: 1.5em;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
    align-items: center;
}

.todoItem{
    background: transparent;
    border: none;
    outline: none;
    font: inherit;
}

.todoCheckbox{
    cursor: pointer;
    accent-color: white;
    width: 18px;
    height: 18px;
}

#list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


header h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
    color: #444;
}

header h1::after {
    content: "";
    display: block;
    width: 180px;
    height: 3px;
    background: white;
    margin: 12px auto 0;
    border-radius: 10px;
}
